:root {
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
}

/* COMMON */
img {
    max-width: 100%;
}


/* UTILITIES */
.ms_cursor-pointer {
    cursor: pointer;
}

.ms_linetrough {
    text-decoration: line-through;
}

.ms_highligth {
    border: 2px solid lightgreen;
}

.ms_green {
    color: lightgreen;
    font-weight: bold;
}
/* HEADER */


/* MAIN */


/* FOOTER */


