:root {
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
}

/* COMMON */
img {
    max-width: 100%;
}


/* UTILITIES */


/* HEADER */


/* MAIN */


/* FOOTER */


