:root {
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
    --ms-: ;
}

/* COMMON */
img {
    max-width: 100%;
}


/* UTILITIES */
.ms_cursor-pointer {
    cursor: pointer;
}

/* HEADER */


/* MAIN */


/* FOOTER */


